*.png
*.xml

0_data_raw/*
2_data_selected/*
2_data_selected_v2/SCAN/*
2_data_selected_v2/USCRN/*
2_data_selected_v2/OZNET/*

4_data/Oznet/*
4_data/SCAN/*
4_data/USCRN/*
4_data/.idea/*

4_data/Oznet/combined/*
4_data/Oznet/combined_weighted/*
4_data/SCAN/combined/*
4_data/SCAN/combined_weighted/*
4_data/USCRN/combined/*
4_data/USCRN/combined_weighted/*

!4_data/Oznet/stations_for_seasonsig_4cm.csv
!4_data/Oznet/stations_for_stat_4cm.csv
!4_data/Oznet/stations_for_seasonsig_3cm.csv
!4_data/Oznet/stations_for_stat_3cm.csv
!4_data/SCAN/stations_for_seasonsig_5cm.csv
!4_data/SCAN/stations_for_stat_5cm.csv
!4_data/SCAN/stations_for_seasonsig_5cm.csv
!4_data/SCAN/stations_for_stat_5cm.csv
!4_data/USCRN/stations_for_seasonsig_5cm.csv
!4_data/USCRN/stations_for_stat_5cm.csv

!4_data/Oznet/combined/depth_3cm_arid.csv
!4_data/Oznet/combined/depth_4cm_arid.csv
!4_data/Oznet/combined_weighted/depth_3cm_arid.csv
!4_data/Oznet/combined_weighted/depth_4cm_arid.csv
!4_data/SCAN/combined/SCAN.csv
!4_data/SCAN/combined_weighted/SCAN.csv
!4_data/USCRN/combined/USCRN.csv
!4_data/USCRN/combined_weighted/USCRN.csv

6_out_stat/*.zip
8_out_plot/*
9_figures/*
doc/*
GIS/*
ref/*
trash/*
desktop.ini
.idea/*
